VITE_CONTACT_RECEIVER_EMAIL=benfaroukoucherif@gmail.com
VITE_GITHUB_URL=https://github.com/cherif-ben
VITE_LINKEDIN_URL=https://www.linkedin.com/in/ben-faroukou-cherif
# Important: activez d'abord cette adresse sur formsubmit.co via le mail de confirmation.
